
.navlink{
    padding: 6px;
    text-decoration: none;
}

#navbar .navlink.active,
#navbar .navlink.active:hover {
    color: yellow; 
    font-weight: bold; 
    border-bottom: 4px solid yellow;
}


#navbar .navlink:hover {
    color: rgb(20, 247, 255);
    text-decoration: none; 
    border-bottom: 4px solid rgb(11, 206, 255);
}
