
.navlink{
    padding-right: 6px;
    text-decoration: none;
}

 .navlink.active,
 .navlink.active:hover {
    color: yellow; 
    font-weight: bold; 
    border-bottom: 4px solid yellow;
}

 .navlink:hover {
    color: rgb(20, 247, 255);
    text-decoration: none; 
    border-bottom: 4px solid rgb(11, 206, 255);
}