.box1 {
    margin-top: 200px;
    width: 400px;
    margin-left: 35%;
    height: auto;
    border: 2px solid rgb(232, 255, 27);
    border-radius: 10px;
    background: #0575E6; 
    background: -webkit-linear-gradient(to right, #021B79, #0575E6); 
    background: linear-gradient(to right, #021B79, #0575E6);
    padding: 20px;
}

.box1 .lable {
    font-size: 20px;
    color: white;
}

.box1 h2 {
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(157, 255, 0);
}

.btn1 {
    margin-left: 20%;
    margin-top: 20px;
    display: block;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #fff;
    background-color: #ff4742;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    width: 50%; /* Expand button to half width */
}

.btn1:hover {
    background: yellow;
    color: #ff4742;
}

.link {
    color: white;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
}

.notification {
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

@media (max-width: 768px){
    .box1{
        margin-left: 150px;
    }
}

@media (max-width: 425px) {
    .box1 {
        width: 300px;
        margin-top: 100px;
        margin-left: 60px;
    }

    .box1 .btn1 {
        width: 90%; /* Adjust button width for smaller screens */
        margin-left: 5%; /* Adjust button margin for smaller screens */
    }

    .link {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .box1 {
        width: 250px;
        margin-top: 100px;
        margin-left: 50px;
    } 
    .box1 .lable{
        font-size: 15px;
    }

    .box1 .btn1 {
        width: 90%; /* Adjust button width for smaller screens */
        margin-left: 5%; /* Adjust button margin for smaller screens */
    }

    .link {
        font-size: 14px;
    }
}
